/* Elimina x que no se utiliza para borrar busqueda */
    <style>
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }
    </style>

    <style>
        /* Eliminar fondo y mantener solo la línea del scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
            /* Ancho del scrollbar */
            height: 8px;
            /* Alto del scrollbar (si es horizontal) */
        }

        /* Personalizar la línea del scrollbar */
        ::-webkit-scrollbar-thumb {
            background-color: #888;
            /* Color de la línea */
            border-radius: 10px;
            /* Radio de los bordes de la línea */
        }
    </style>